/*General*/

* {
    background-color: #202020;
}


.titulo {
    color: #DEDEDE;
    margin: 60px 0 20px  0;
    font-size: 55px;
    font-family: 'Manrope', sans-serif;
}

.descr {
    color: darkgray;
    font-family: 'Manrope', sans-serif;
}

.elemNav{
    margin: 0 50px;
}

.navbar-nav .nav-link{
    margin: 0 50px 5px 0;
    font-size: 20px; 
}

.icono-index{
    font-size: 40px;
    color: #DEDEDE;
    justify-content: left;
}


/* Proyectos */
.proyectos-recientes{
    padding: 40px;
}

.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor{
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto {
    position: relative;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay{
    opacity: 1;

}

.overlay .iconos-contenedor{
    display: flex;
}


.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    

    color: #DEDEDE;
    
    font-family: 'Manrope', sans-serif;
}

.seccion-descripcion{
    font-size: 1.2rem;
    color: darkgray;
    font-family: 'Manrope', sans-serif;

}

section{
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Experiencia */
.experiencia{
    padding: 40px 40px 60px 40px;  
    background-color: #202020; 
}

.columna p {
    color: #DEDEDE;
    background-color: #202020;    
    padding: 10px;
    border-radius: 20px;
}
.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
    color: #DEDEDE;
}

.badges-contenedor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badges{
    margin: 5px;
}

.experiencia .columna{
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
    color: white;
    background-color: #0fc9b962;
}

/* Proyectos */
.proyectos-recientes{
    padding: 40px;
}

.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor{
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    color: #DEDEDE;
}

.proyecto {
    position: relative;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay{
    opacity: 1;

}

.overlay .iconos-contenedor{
    display: flex;
}

.overlay i{
    color: rgb(212, 212, 212);
    font-size: 60px;
    margin: 10px;
}

